# Build output
[Bb]in/
[Oo]bj/
artifacts/
nupkg/

# IDE
.vs/
.idea/
*.iml
*.user
*.suo
*.resharper
_ReSharper*/

# NuGet
packages/
nuget.exe

# OS
[Tt]humbs.db

# Test output
[Tt]est[Rr]esult*
**/BenchmarkDotNet.Artifacts/

# Misc
*.orig
*.bak
*.log
